<br>
<br>
<div class="row">
	<h1>USER REGISTRATION FORM</h1>
</div>
<!-- <div class="row"> -->
	<div class="row">
		<label>Name: <input type="text" ng-model="newusername" required></label>
	</div>
	<div class="row">
		<label>Email: <input type="text" ng-model="newuseremail" required></label>
	</div>
	<div class="row">
		<label>Password:<input type="password" ng-model="newuserpass" required></label>
	</div>
<!-- </div> -->
<div class="row">
	<!-- <div class="col-xs-12"> -->
		<button class="btn btn-success" type="submit" ng-click="register()">REGISTER</button>
	<!-- </div> -->
</div>